@import '~bootstrap/scss/bootstrap';

// .form-group {
//   display: none;
// }

body {
  background-image: url('https://static1.squarespace.com/static/54205ba1e4b0debb331b066b/5b43ea816d2a73cc9b2e116d/5b46681370a6ad385ad29a8b/1531340854848/SS18_4TH_STREET_BRIDGE_JH_06846.jpg?format=1500w');
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  // position: relative;
}

.get-runs {
  border: 2px solid;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 20px;
  padding: 30px;
  text-align: center;
  color: green;
}

.hidden {
  display: none;
}

legend {
  color: green;
}

#message {
  color: green;
}

#run-message {
  color: green;
}
